.header {
  .nav {
    position: fixed;
    right: var(--padding-sections);
    top: 30px;
    z-index: 999999;
    .menu {
      width: 480px;
      height: 650px;
      background-color: var(--background);
      color: var(--foreground);
      border-radius: 25px;
      position: relative;
    }
  }
  .logo {
    position: fixed;
    left: var(--padding-sections);
    top: 30px;
    font-family: "MangoGrotesque";
    font-size: 1.5em;
    z-index: 999999;
  }
}
